@charset "UTF-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 8px;
}

a{
	font-weight: bold;
	color: #003399;
}

h1 {
	background: url("../imagens/tela.png") no-repeat 0px 3px;
	padding-left: 24px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #3e3e3e;
	letter-spacing: -1px;
}

.grid {
	border: 1px solid #666666;
	border-spacing: 0;
	border-collapse: collapse;
}

.form-grid .label {
	font-weight: bold;
	text-align: right;
	padding: 0px 5px;
}

.form-grid .campo {
	padding-left: 5px;
}

ul.form-messages {
	padding-left: 20px;
}

.form-messages .error {
	color: #e81f1f;
}

.form-messages .info {
	color: #156b2a;
}

.form-messages .warn {
	color: #4169E1
}
